*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
img{
    width:200px;
    }

.wrap{
    display: flex;
}
.wrap .perfil-portifolio{
    background-color: #f0f0f0;
    position: fixed;
    transform: translateX(-100%);
}

.wrap .hero-banner{
    background-image: linear-gradient(45deg,rgba(0, 0, 0, 0.185),rgba(0, 0, 0, 0.226)),url('../image/logan-weaver-lgnwvr-p0B7ueoZz8E-unsplash.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center bottom;
    margin: 0em .50em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}
.wrap .burguer{
    position: absolute;
    top:2%;
    left: calc(12% - .50em);
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: .50em;
}
.wrap .burguer span{
    width: 40px;
    height: 2px;
    background-color: #d3d3d3;
    display: block;
}
.wrap .hero-banner h1{
    font-size: clamp(1.8em,8vw,3em);
    margin: 0 0 .2em 0;
    color: #f0f0f0;
}
.wrap .hero-banner p{
    font-size: clamp(.90em,8vw,1.2em);
    margin: 0 0 .8em 0;
    color: #f0f0f0;
}
.wrap .hero-banner .download{
    font-size: clamp(.90em,8vw,1.2em);
    padding: .40em 1.8em;
    width: 100%;
    background-color: transparent;
    border: 1px solid #d3d3d3;
    cursor: pointer;
}
.wrap .hero-banner .download a{
    font-size: clamp(.50em,8vw,.60em);
    text-decoration: none;
    color: #d3d3d3;
    text-transform: uppercase;
    letter-spacing: .2em;
}