@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope',sans-serif;
}
body{
    background-color: #e4e4e4;
    overflow:initial;
}
body.over{
    overflow: hidden;
}
.wrap{
    display: flex;
}
.wrap .perfil-portifolio{
    background-color: #e6e6e66e;
    position: absolute;
    transform: translateX(-100%);
    z-index: 4;
    text-align: center;
    width: 100%;
    transition: all .3s ease-in-out;
    height: 100%;
}
.wrap .perfil-portifolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wrap .perfil-portifolio.active{
   transform: translateX(0);
}
.wrap .perfil-portifolio .perfil-photos img{
    border-radius: 100%;
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.wrap .perfil-portifolio .perfil-photos h2{
    font-size: clamp(.60em,8vw,1.2em);
    text-transform: capitalize;
}
.wrap .perfil-portifolio .footer-perfil{
    margin-top: .70em;
}
.wrap .perfil-portifolio .footer-perfil p{
    font-size: clamp(.80em,8vw,.70em);
}
.wrap .perfil-portifolio .bar-navgation .perfil-itens-menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    margin-top: .90em;
}
.wrap .perfil-portifolio .bar-navgation .perfil-itens-menu li a{
   text-decoration: none;
   font-size: clamp(.90em,8vw,.90em);
   text-transform: uppercase;
   color: rgb(54, 54, 54);
}
.wrap .hero-banner{
    background-image: linear-gradient(45deg,rgba(0, 0, 0, 0.185),rgba(0, 0, 0, 0.226)),url('../image/retrato-de-jovem-usando-maquiagem-e-roupas-elegantes.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center bottom;
    // margin: 0em .50em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    filter: blur(0px);
    transition: all .3s ease-in-out;
}
.wrap .hero-banner.blur{
    filter: blur(8px);
}
.wrap .burguer{
    position: absolute;
    top:2%;
    left: calc(6% - .50em);
    z-index: 5;
    display: flex;
    flex-direction: column;
    gap: .50em;
    cursor: pointer;
}
.wrap .burguer::after{
    width: 25px;
    height: 2px;
    background-color: #d3d3d3;
    display: block;
    position: absolute;
    transition: all .3s ease-in-out;
    margin: 10px;
    cursor: pointer;
}
.wrap .burguer::before{
    width: 25px;
    height: 2px;
    background-color: #d3d3d3;
    display: block;
    position: absolute;
    transition: all .3s ease-in-out;
    margin: 10px;
    cursor: pointer;
}
.wrap .burguer::after{
    content: '';
    display: block;
}
.wrap .burguer::before{
    content: '';
    display: block;
    margin-top: 2px;
}

.wrap .hero-banner h1{
    font-size: clamp(1.8em,8vw,3em);
    margin: 0 0 .2em 0;
    color: #f0f0f0;
}
.wrap .hero-banner p{
    font-size: clamp(.90em,8vw,1.2em);
    margin: 0 0 .8em 0;
    color: #f0f0f0;
}
.wrap .hero-banner .download{
    font-size: clamp(.90em,8vw,1.2em);
    padding: .40em 1.8em;
    width: 100%;
    background-color: transparent;
    border: 1px solid #d3d3d3;
    cursor: pointer;
}
.wrap .hero-banner .download a{
    font-size: clamp(.50em,8vw,.60em);
    text-decoration: none;
    color: #d3d3d3;
    text-transform: uppercase;
    letter-spacing: .2em;
}


#profile-content .about-im{
    margin-left: .90em;
    margin-top: 2em;
}
#profile-content .about-im h2{
    font-size: clamp(.50em,6vw,.80em);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #9c9c9c;
}
#profile-content .about-im h3{
    font-size: clamp(.50em,8vw,1.2em);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: .3em;
}
#profile-content .about-im p{
    font-size: clamp(.50em,8vw,1em);
    letter-spacing: 1.5px;
    margin-top: .8em;
}
#profile-content .skills {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1.4em;
    margin: 1.6em .90em;
}
#profile-content .skills .card-container{
   background-color: white;
   padding: 1.3em 1.6em 2.5em 1.4em;
   display: flex;
   flex-direction: column;
   gap: 1.2em;
   border-bottom: 2px solid rgb(124, 185, 212);
}
#profile-content .skills .card-container.grid2{
    border-bottom: 2px solid rgb(212, 124, 190);
}
#profile-content .skills .card-container.grid3{
    border-bottom: 2px solid rgb(99, 182, 143);
}
#profile-content .skills .card-container.grid4{
    border-bottom: 2px solid rgb(214, 194, 80);
}

#profile-content .skills .card-container .icon img{
    width: 30px;
}