@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: #e4e4e4;
  overflow: initial;
}

.wrap {
  display: flex;
}

.fixed {
  position: fixed;
}

.perfil-portfolio {
  display: flex;
  position: relative;
  height: 8vh;
  background-color: #f0f0f0;
  width: 100vw;
}

.perfil-portfolio .burguer {
  max-width: 40px;
  width: 100%;
  padding: 0.7em 0;
  margin: 0 12px;
  position: fixed;
}

.perfil-portfolio .burguer span {
  width: 100%;
  height: 3px;
  background-color: #030303;
  display: block;
  margin-bottom: 12px;
}

.perfil-portfolio .burguer span {
  border-radius: 40px;
}

.perfil-portfolio .bar-navgation {
  position: absolute;
  left: 0;
  top: 8vh;
  width: 100vw;
  background-color: #f0f0f0;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.perfil-portfolio .bar-navgation.openMenu {
  overflow: initial;
  height: 40vh;
}

.perfil-portfolio .bar-navgation .perfil-itens-menu {
  display: flex;
  list-style: none;
  flex-direction: column;
  margin: 0 12px;
  padding: 12px 0;
  gap: 15px;
}

.perfil-portfolio .bar-navgation .perfil-itens-menu li a {
  font-size: clamp(1.2em, 6vw, 1.4em);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #030303;
}

.hero-banner {
  background-image: url("../image/retrato-de-jovem-usando-maquiagem-e-roupas-elegantes.jpg");
  background-position: bottom center;
  background-size: cover;
  min-height: 100vh;
}

#profile-content .about-im {
  margin-left: 0.9em;
  margin-top: 2em;
}

#profile-content .about-im h2 {
  font-size: clamp(0.5em, 6vw, 0.8em);
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #9c9c9c;
}

#profile-content .about-im h3 {
  font-size: clamp(0.5em, 8vw, 1.2em);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-top: 0.3em;
}

#profile-content .about-im p {
  font-size: clamp(0.5em, 8vw, 1em);
  letter-spacing: 1.5px;
  margin-top: 0.8em;
}

#profile-content .skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
  gap: 1.4em;
  margin: 1.6em 0.9em;
}

#profile-content .skills .card-container {
  background-color: white;
  padding: 1.3em 1.6em 2.5em 1.4em;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  border-bottom: 2px solid rgb(124, 185, 212);
}

#profile-content .skills .card-container.grid2 {
  border-bottom: 2px solid rgb(212, 124, 190);
}

#profile-content .skills .card-container.grid3 {
  border-bottom: 2px solid rgb(99, 182, 143);
}

#profile-content .skills .card-container.grid4 {
  border-bottom: 2px solid rgb(214, 194, 80);
}

#profile-content .skills .card-container .icon img {
  width: 30px;
}

#profile-content .cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1.2em;
  margin: 0 1.2em;
}

#profile-content .cards-container .card img {
  width: 100%;
}

#profile-content .cards-container .card h5 {
  margin: 0.9em 0.7em;
}

#profile-content .cards-container .card p {
  margin: 0.9em 0.7em;
}

#profile-content .cards-container .card {
  margin-bottom: 1.6em;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  height: 100%;
  margin-top: 12px;
}

#profile-content .cards-container .card a {
  padding: 0.7em 0.9em;
  background-color: rgb(87, 160, 194);
  text-decoration: none;
  color: white;
  margin: 0.9em 0.7em;
  display: inline;
  text-transform: uppercase;
  font-size: clamp(0.9em, 8vw, 0.3em);
}/*# sourceMappingURL=style.css.map */