@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope',sans-serif;
}

:root{

    --bg-prymary: #1f1d1d;
    --text-prymary:#F2EBE9;
    --card-color: #333333;
    --card-hs: #FEF5AC;
    --card-button: #F7C04A;
    --color-logo: #87aee2;
}
body{
    background-color: var(--bg-prymary);
    overflow:initial;
}
.front{
    color: var(--color-logo);
}
.container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-prymary);
    position: fixed;
    height: 70px;
    padding: 0 10px;
}
.container .logo a{
    color: var(--color-logo); 
    // mudar dps
    font-size: clamp(1.4em,8vw,1.6em);
    text-decoration: none;
}
.container .menu-burguer{
    border: none;
    padding: .30em;
    font-size: 1.2em;
    display: flex;
    background-color: transparent;
    cursor: pointer;
    gap: 8px;
    align-items: center;
    color: white;
}
.container .menu-burguer .icon{
    border-top: 2px solid var(--color-logo);
    width: 20px;
    color: var(--color-logo);
    transition: all .3s ease-in-out;
}
.container .menu-burguer .icon::before{
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background-color: currentColor;
    margin:5px 0;
    position: relative;
    transition: all .3s ease-in-out;
}
.container .menu-burguer .icon::after{
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background-color: currentColor;
    position: relative;
    transition: all .3s ease-in-out;
}
.container .menu-burguer .icon.rotate{
    border-color: transparent;
}
.container .menu-burguer .icon.rotate::after{
    transform: rotate(-135deg);
    top: -7px;
}
.container .menu-burguer .icon.rotate::before{
    transform: rotate(135deg);
    // top: 7px;
}
.container .navbar{
    width: 100%;
    background-color: var(--bg-prymary);
    height: 100%;
    position: absolute;
    top: 70px;
    height: 0;
    overflow-y: hidden;
    right: 0;
    transition: all .3s ease-in-out;
}
.container .navbar.active{
    height: calc(70vh - 70px);
    overflow-y: auto;
}
.container .navbar .case-itens{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}
.container .navbar .case-itens li{
    margin-bottom: .80em;
    margin-top: 20px;
}
.container .navbar .case-itens li a{
    color: var(--text-prymary);
    text-decoration: none;
    padding: .90em 0;
    margin: 1.2em 0;
    font-size: clamp(1.4em,8vw,1.5em);
    text-transform: capitalize;
}
.hero-banner{
    display: flex;
    background-image: linear-gradient(45deg,rgba(0, 0, 0, 0.425),rgba(0, 0, 0, 0.425)),url('../image/bg-ground.jpg');
    background-position: top center;
    background-size: cover;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-attachment: scroll;
    flex-direction: column;
}
.hero-banner .hero-text{
    background-color: #1b1b1b70;
    padding: .80em .70em;
}
.hero-banner .hero-text h1{
    color: white;
}
.hero-banner .hero-text h1 span{
    color: rgb(98, 163, 189);
}
.hero-banner .hero-text p{
    color: white;
}

.hero-banner .download{
    padding: .70em 1.40em;
    background-color: transparent;
    margin-top: 20px;
    border: 1px solid var(--color-logo);
}

.hero-banner  .download a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

#profile-content .about-im{
    margin-left: .90em;
    margin-top: 2em;
}
#profile-content .about-im h2{
    display: inline-block;
    font-size: clamp(.50em,6vw,.80em);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #dadada;
    background-color: #333333;
    padding: .80em .50em;
}
#profile-content .about-im h3{
    font-size: clamp(.50em,8vw,1.2em);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: .3em;
    color: var(--color-logo)
}
#profile-content .about-im p{
    font-size: clamp(.50em,8vw,1em);
    letter-spacing: 1.5px;
    margin-top: .8em;
    color: var(--text-prymary);
    line-height: 1.5;
}
#profile-content .about-im p a{
    color: #87aee2;
}
#profile-content .skills {
//    display: flex;
//    gap: 8px;
//    flex-wrap: wrap;
//    justify-content: center;
//    margin: 8px 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 8px;
    margin: 1.2em;
}
#profile-content .skills .card-container{
   display: flex;
   flex-direction: column;
   background-color: #ffffff;
   padding: .70em;
   gap: 1.2em;
   border-bottom: 2px solid rgb(124, 185, 212);
   flex: 1;
   align-items: center;
   justify-content: center;
}
#profile-content .skills .card-container h3{
    font-size: clamp(.70em,8vw,1.2em);
}
#profile-content .skills .card-container.grid2{
    border-bottom: 2px solid rgb(212, 124, 190);
}
#profile-content .skills .card-container.grid3{
    border-bottom: 2px solid rgb(99, 182, 143);
}
#profile-content .skills .card-container.grid4{
    border-bottom: 2px solid rgb(214, 194, 80);
}
#profile-content .skills .card-container .icon{
    max-width: 40px;
    max-height: 40px;
}
#profile-content .skills .card-container.grid3 .icon img{
    width: 40px;
}
#profile-content .skills .card-container .icon img{
    width: 100%;
    height: 100%;
}



#profile-content .cards-container{
    display: grid;
    gap: 1.2em;
    margin: 0 1.2em;

}
#profile-content .cards-container .card img{
    width: 100%;
}
#profile-content .cards-container .card h5{
    margin: .90em .70em;
    color: var(--card-hs);
}
#profile-content .cards-container .card p{
    margin: .90em .70em;
    color: var(--text-prymary);
}
#profile-content .cards-container .card{
    margin-bottom: 1.6em;
    display: flex;
    flex-direction: column;
    background-color: var(--card-color);
    height: 100%;
    margin-top: 12px;
}
#profile-content .cards-container .card a{
    padding: .70em .90em;
    background-color: var(--card-button);
    text-decoration: none;
    color: white;
    // display: block;
    // width: 45%;
    margin: .90em .70em;
    display: inline;
    text-transform: uppercase;
    font-size: clamp(.90em,8vw,.3em);
;}